
.static-pages-top-banner__paragraph {

    // background-image в стилях родительского длока

    .paragraph__title {
        font-weight: 600;
        font-size: 32px;
        line-height: 38px;
        color: $second-font-color;

        @media (max-width: 991.98px) {
            font-weight: 600;
            font-size: 16px;
            line-height: 19px;
        }
    }

    .paragraph__text {
        font-weight: 400;
        font-size: 22px;
        line-height: 27px;

        @media (max-width: 991.98px) {
            font-weight: 400;
            font-size: 13px;
            line-height: 125%;
        }

        li {
            margin-left: 70px;
        }
    }
}

.static-pages-top-banner {

    .container {
        background-repeat: no-repeat;
        background-position: right;
        background-size: auto 100%;
        width: 100%;
        min-height: 450px;
        height: 450px;

        @media (max-width: 1399.98px) {
            min-height: 380px;
            height: 380px;
            background-size: auto 100%;
        }

        @media (max-width: 1199.98px) {
            min-height: 380px;
            height: 380px;
            background-size: auto 90%;
        }

        @media (max-width: 991.98px) {
            min-height: 200px;
            height: 200px;
            background-size: auto 100%;
        }

        @media (max-width: 576.98px) {
            min-height: 170px;
            height: 170px;
            background-size: 280px;
        }

        @media (max-width: 470.98px) {
            min-height: 150px;
            height: 150px;
            background-size: 250px;
            background-position: right -20px bottom 50%;
        }
        @media (max-width: 430.98px) {
            background-position: right -20px bottom 50%;
            background-size: 230px;
        }
    }
}

.static-pages-top-banner__title {
    font-weight: 600;
    font-size: 44px;
    line-height: 52px;

    @media (max-width: 991.98px) {
        font-weight: 600;
        font-size: 24px;
        line-height: 28px;
    }

    @media (max-width: 430.98px) {
        font-weight: 600;
        font-size: 20px;
        line-height: 22px;
    }
}
