$after-sale-bg: url(/resources/images/after-sale-bg.png);

.after-sale-service-section {

    .static-pages-top-banner {
        .container {
            background-image: $after-sale-bg;
        }
    }

    .after-sale-service__paragraph {

        .paragraph__title {
            font-weight: 600;
            font-size: 32px;
            line-height: 38px;
            color: $second-font-color;

            @media (max-width: 991.98px) {
                font-weight: 600;
                font-size: 16px;
                line-height: 19px;
            }
        }

        .paragraph__text {
            font-weight: 400;
            font-size: 22px;
            line-height: 27px;

            @media (max-width: 991.98px) {
                font-weight: 400;
                font-size: 13px;
                line-height: 125%;
            }

            li {
                margin-left: 70px;

                @media (max-width: 991.98px) {
                    margin-left: 20px;
                }
            }
        }
    }

    .after-sale-service-rests {
        .after-sale-service__paragraph {
            margin-bottom: 40px;

            .paragraph__title {
                margin-left: 50px;
                margin-bottom: 20px;
            }
        }


        @media (max-width: 991.98px) {
            .after-sale-service__paragraph {
                margin-bottom: 20px;

                .paragraph__title {
                    margin-left: 20px;
                    margin-bottom: 15px;
                }
            }
        }
    }

}
